<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true" beStrictAboutChangesToGlobalState="true" beStrictAboutOutputDuringTests="true" beStrictAboutTestsThatDoNotTestAnything="true" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.4/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <coverage>
    <report>
      <clover outputFile="coverage/coverage.xml"/>
      <html outputDirectory="coverage"/>
      <text outputFile="coverage/coverage.txt"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="main">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="xdebug.mode" value="coverage" />
  </php>
  <source>
    <include>
      <directory>src</directory>
    </include>
  </source>
</phpunit>
